.contact {
    .logo {
        border: 5px solid white;
        height: 130px;
        width: 150px;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        line-height: 0;
    }

    .info-section {
        padding: 54px;
        width: 35%;
    }

    .content-area {
        margin-left: 35%;
        background: $color3;
        width: 65%;
        height: 100%;

        .img-container {
            width: 30%;
            display: inline-block;
            position: relative;
            height: 100%;
            margin-bottom: -5px;

            .form-section {
                padding: 46px;
                top: 56px;
                position: absolute;
                left: -250px;
                width: 500px;
                height: calc(100% - 112px);
                background: $color2;
                color: $color3;
                -webkit-box-shadow: 9px 20px 74px 6px rgba(0,0,0,0.34);
                -moz-box-shadow: 9px 20px 74px 6px rgba(0,0,0,0.34);
                box-shadow: 9px 20px 74px 6px rgba(0,0,0,0.34);
                overflow-y: scroll;
                overflow-x: hidden;

                h4 {
                    font-size: 1.6rem;
                    margin-bottom: 4rem;
                    margin-top: 1rem;
                }

                input[type="text"], 
                [type="email"],
                textarea {
                    width: 100%; background: transparent;
                    border: none;
                    border-bottom: 2px solid $color5;
                    margin-bottom: 2rem;
                    font-size: .8rem;
                    text-transform: uppercase;
                    line-height: 1.2;
                    letter-spacing: 1px;
                    color: $color5;
                    padding: 15px 0;
                }
                button[type="submit"]{
                    background: $color1;
                    border: none;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    border-radius: 30px;
                    text-align: center;
                    color: $color3;
                    padding: 17px 30px;
                    text-transform: uppercase;
                    font-size: 1rem;
                    width: 100%;
                    letter-spacing: 2px;
                }
            }
        }

        .contact-section {
            vertical-align: top;
            padding: 56px 0 0;
            width: 70%;
            float: right;

            .contact-info {
                max-width: 600px;
                
                h1 {
                    font-size: 2.3rem;
                    font-weight:  500;
                    line-height: 1.2;
                    margin: 0 0 1rem;

                    span {
                        color: $color1;
                    }
                }

                .contact-box {
                    padding: 20px;
                    transition: all .5s ease-in-out;
                    cursor: pointer;
                    border-radius: 5px;
                        
                    &:hover{
                        -webkit-box-shadow: 0px 0px 60px 6px rgba(0,0,0,0.12);
                        -moz-box-shadow: 0px 0px 60px 6px rgba(0,0,0,0.12);
                        box-shadow: 0px 0px 60px 6px rgba(0,0,0,0.12);
                    }

                    h5 {
                        font-size: 1.1rem;
                        margin: 0 0 2rem;
                        font-weight: 600;
                    }
    
                    p {
                        color: $color5;
                        font-weight: 300;
                        line-height: 1.4;
                        margin: 0 0 1.5rem;
                    }
                }


            }
        }
    }
}

//phone
@media (max-width: 767px) { 
    .contact {
        .menu-icon {
            top: -3px;
            right: 20px;
            color: white;

            .fa {
                color: white;
            }
        }

        .content-area {
            overflow: auto;
            height: auto;

            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }
        
        .info-section {
            position: static;
            padding: 10px 20px;

            .logo {
                height: 50px;
                width: 70px;
                font-size: 1rem;
                border: 2px solid white;
            }

            .info-box {
                display: none;
            }
        }

        .content-area {
            margin-left: 0;
            width: 100%;

            .img-container {
                padding: 56px 20px 0;
                width: 100%;

                .form-section {
                    position: static;
                    width: 100%;
                    height: auto;
                    overflow: auto;
                }
            }
            .contact-section {
                width: 100%;
                float: left;
                padding: 20% 20px 0;

            }
        }
    } 
}

//tablet
@media (min-width: 768px) and (max-width: 991px) {
    .contact {
        .content-area {
            height: auto;
            &:after {
                content: "";
                display: table;
            }

            .img-container {
                width: 100%;
                padding: 56px 20px 0;
                height: auto;

                .form-section {
                    position: static;
                    width: 100%;
                }
            }
            .contact-section {
                width: 70%;
                float: right;
                padding: 20% 20px 0;
            }
        }
    }
}

//laptop
@media (min-width: 992px) and (max-width: 1199px) {
    .contact {
        .content-area {
            .img-container {
                padding: 56px 20px 0;
                float: left;

                .form-section {
                    position: static;
                    width: 100%;
                }
            }
            .contact-section {
                width: 70%;
                float: left;
                padding: 20% 60px 0;
                max-width: 800px;
            }
        }
    }
}

//extra big
@media (min-width: 1200px) {
    .contact {
        .content-area {
            .img-container {
                padding: 56px 20px 0;
                float: left;

                .form-section {
                    // position: static;
                    // width: 100%;
                }
            }
            .contact-section {
                width: 70%;
                float: left;
                max-width: 800px;
                padding: 20% 60px 0;
            }
        }
    }
}