.home {
    .logo {
        border: 5px solid white;
        height: 130px;
        width: 150px;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        line-height: 0;
    }

    .info-section {
        padding: 54px;
        width: 35%;
    }

    .content-area {
        margin-left: 35%;
        background: $color3;
        width: 65%;
        height: 100%;

        .img-container {
            width: 30%;
            display: inline-block;
            position: relative;
            height: 100%;
            margin-bottom: -5px;

            .user-img {
                top: 56px;
                position: absolute;
                left: -250px;
                width: 500px;
                height: calc(100% - 112px);
                background: url("https://mediaslide-europe.storage.googleapis.com/named/pictures/279/1663/profile-1530193970-e8886fbd48fd79794127c8636f6cd804.jpg") no-repeat center center; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                -webkit-box-shadow: 9px 20px 74px 6px rgba(0,0,0,0.34);
                -moz-box-shadow: 9px 20px 74px 6px rgba(0,0,0,0.34);
                box-shadow: 9px 20px 74px 6px rgba(0,0,0,0.34);
            }
        }

        .profile-section {
            display: inline-block;
            vertical-align: top;
            max-width: 500px;
            padding: 20% 0 0;

            .profile {
                h1 {
                    font-size: 2.3rem;
                    font-weight:  500;
                    line-height: 1.2;
                    margin: 0 0 1rem;

                    span {
                        color: $color1;
                    }
                }

                h5 {
                    font-size: 1.1rem;
                    margin: 0 0 2rem;
                }

                p {
                    color: $color5;
                    font-weight: 300;
                    line-height: 1.4;
                    margin: 0 0 2rem;
                }
            }
        }
    }
}

//phone
@media (max-width: 767px) { 
    .home {
        .menu-icon {
            top: -3px;
            right: 20px;
            color: white;
            .fa {
                color: white;
            }
        }
        .info-section {
            // display: none;
            position: static;
            padding: 10px 20px;

            .logo {
                height: 50px;
                width: 70px;
                font-size: 1rem;
                border: 2px solid white;
            }

            .info-box {
                display: none;
            }
        }

        .content-area {
            margin-left: 0;
            width: 100%;

            .img-container {
                padding: 56px 20px 0;
                .user-img {
                    position: static;
                    width: 100%;
                }
            }
            .profile-section {
                width: 70%;
                float: right;
                padding: 20% 20px 0;
            }
        }
    } 
}
//tablet
@media (min-width: 768px) and (max-width: 991px) {
    .home {
        .content-area {
            .img-container {
                padding: 56px 20px 0;

                .user-img {
                    position: static;
                    width: 100%;
                }
            }
            .profile-section {
                width: 70%;
                float: right;
                padding: 20% 20px 0;
            }
        }
    }
}

//laptop
@media (min-width: 992px) and (max-width: 1199px) {


//extra big
}
@media (min-width: 1200px) and (max-width: 1368px) {

}