.home {
    .logo {
        background: white;
        height: 100px;
        width: 200px;
    }

    .info-section {
        padding: 54px;
        width: 35%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;

        .info-box {
            bottom: 60px;
            position: absolute;

            h4 {
                font-size: 1.2rem;
                color: $color3;
                margin: 0.7rem 0;
            }

            p {
                font-size: 0.9rem;
                font-weight: 300;
                color: $color3;
                margin: 0.2rem 0 1.5rem;

            }
        }
    }

    .content-area {
        margin-left: 35%;
        background: white;
        width: 65%;
        height: 100%;
    }
}